@import url(./reset.css);

body {
  background: linear-gradient( to bottom, #8FEDFF 50.25%, #016887);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  padding: 90px;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-container {
  width: fit-content;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  gap: 70px;
  padding: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}